.App {
	margin: 10px;
	padding: 10px;
	border: 2px #666666 solid
}
.Label{
	padding: 0px;
	margin: 0px;
}
.Tablebox{
	padding: 10px;
	border: 2px #666666 solid
}
.Formbox{
	display: flex;
	padding: 5px;
	justify-content: space-between;
}
.Formrow{
	min-width: 250px;
}
.Formrow label{
	font-weight: 600

}
.Formrow input{
	margin-left: 10px;
}
